<%= stylesheet_link_tag "application.css" %>
  <div class="wrapper">
    <h1>
      Welcome to Alpha Blog
    </h1>
    <div class="nav">
      <%= link_to 'About', about_path %>
    </div>
    <%= image_tag "banner.jpg" %>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam gravida, tortor non fermentum eleifend, risus erat consequat massa, lacinia efficitur erat sapien at nunc. Sed quis turpis eget risus gravida aliquam. Aliquam erat volutpat. Nullam at hendrerit
        lacus, et consectetur tellus. Phasellus ullamcorper egestas fringilla. Mauris blandit laoreet ipsum, a auctor erat posuere euismod. Nunc posuere accumsan aliquet. Nunc mattis, justo vitae facilisis rhoncus, erat nisl aliquet mauris, et congue
        nisi turpis vitae turpis. Aliquam tempor nisi vel elit vehicula placerat. Morbi pulvinar augue mi. Aenean quis risus nisi. Proin non metus vitae est fringilla congue ac vel velit.
        <br /><br /> Pellentesque maximus tortor eget justo mollis, id pellentesque lorem tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce aliquet dignissim nisi vel accumsan. Nulla varius lacus in elit
        pellentesque, quis aliquet lacus maximus. Mauris pretium accumsan massa, rutrum eleifend mauris commodo vulputate. Sed sem massa, porttitor sed vulputate et, mattis sit amet turpis. Quisque blandit metus in arcu aliquam lacinia. Maecenas dignissim
        orci eget erat dignissim ornare. Ut luctus viverra orci, ut laoreet ligula euismod et. Ut interdum dui vitae nisi egestas congue. Nulla condimentum, tortor id fermentum euismod, enim lacus molestie orci, id semper ex elit quis lacus. Duis elementum
        ac augue quis consequat. Pellentesque tincidunt interdum mi ac placerat. Fusce tempus luctus varius.
        <br /><br /> Aenean tempus diam eu nulla dignissim vulputate. Curabitur in sem leo. Phasellus erat sem, tincidunt vitae porta eget, posuere in purus. Maecenas nulla neque, malesuada sit amet gravida in, vestibulum vel metus. Duis ornare ligula eget
        nibh fringilla molestie quis nec tellus. Duis eu sapien blandit, rhoncus ligula id, pulvinar ipsum. Nunc posuere vel massa sed volutpat. Duis sodales vehicula ipsum, eu euismod massa sagittis non. Duis egestas risus a elit bibendum hendrerit.
        Vivamus tristique, leo id semper efficitur, magna metus ultricies mauris, egestas lacinia tellus nunc quis magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum
        primis in faucibus. Mauris ac diam accumsan, efficitur quam sit amet, vulputate augue. Vestibulum vehicula, elit nec venenatis molestie, dui elit venenatis justo, quis finibus est ligula et tortor. Donec iaculis risus id ante egestas sodales eget
        sed ante. Nulla quis tempus ligula, a pellentesque ipsum.
        <br /><br /> Nunc est tortor, accumsan at consectetur fringilla, volutpat et sem. Donec lorem sapien, blandit sit amet sagittis in, ullamcorper vel turpis. Quisque ac justo vulputate, ultrices nisi in, scelerisque diam. Aenean egestas egestas interdum.
        Curabitur nunc velit, aliquet eu eleifend mattis, sollicitudin a lectus. Donec eget nisl ut augue consequat porttitor. Cras a felis enim. Nulla blandit sodales neque aliquam dignissim. Ut vehicula velit nec mi blandit, vitae pulvinar augue elementum.
        In ullamcorper sapien ex, at placerat turpis tempor a. Quisque massa nunc, hendrerit eget est at, pretium luctus nulla. Donec ullamcorper justo vitae varius interdum. Vivamus sollicitudin egestas elit, sit amet volutpat augue tempor ut. Suspendisse
        libero lacus, fringilla eget dictum et, feugiat eget orci. Fusce eleifend pulvinar lectus, et auctor ante consequat in. Maecenas ornare suscipit quam, sit amet placerat orci luctus venenatis.
        <br /><br /> Morbi bibendum molestie tellus sit amet ultrices. Praesent bibendum rutrum tellus ut convallis. Cras gravida eros quis euismod euismod. Mauris auctor nisl et ex rhoncus, non lacinia lacus gravida. Proin eget rutrum libero. Praesent sollicitudin
        vel dui sit amet dictum. Nullam tincidunt porta condimentum.
      </div>
  </div>